/* 
 * Cell Tooltip Style
 * @author Lruihao
 */
:root {
  --ct-duration: 250ms;
  --ct-offset: 0;
}
.cell-tooltip {
  position: fixed !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 3.125rem;
  height: auto;
  min-width: 200px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  outline: none;
  z-index: 9999 !important;
  transition-duration: var(--ct-duration);
  margin: 1rem !important;
}
.cell-tooltip[data-position='top-start'] {
  top: var(--ct-offset);
  left: 0;
}
.cell-tooltip[data-position='top-center'] {
  top: var(--ct-offset);
  left: 50%;
  transform: translateX(-50%);
}
.cell-tooltip[data-position='top-end'] {
  top: var(--ct-offset);
  right: 0;
}
.cell-tooltip[data-position='bottom-start'] {
  bottom: var(--ct-offset);
  left: 0;
}
.cell-tooltip[data-position='bottom-center'] {
  bottom: var(--ct-offset);
  left: 50%;
  transform: translateX(-50%);
}
.cell-tooltip[data-position='bottom-end'] {
  bottom: var(--ct-offset);
  right: 0;
}
.cell-tooltip[data-position='start-center'] {
  left: var(--ct-offset);
  top: 50%;
  transform: translateY(-50%);
}
.cell-tooltip[data-position='end-center'] {
  right: var(--ct-offset);
  top: 50%;
  transform: translateY(-50%);
}

.cell-tooltip-icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.cell-tooltip.alert-dismissible .btn-close:focus {
  outline: 0;
  box-shadow: none;
}
@media (min-width: 576px) {
  .cell-tooltip {
    max-width: 60%;
  }
}
@media (min-width: 768px) {
  .cell-tooltip {
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .cell-tooltip {
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  .cell-tooltip {
    max-width: 30%;
  }
}
